form {
    background-color: rgb(235, 215, 215);
    padding: 5em;
    border-radius: 10px;
}

label {
    font-size: 1.2em;
    font-weight: 500;
}

form.validated textarea:invalid,
form.validated input:invalid {
    border-color: red;
}

form.validated textarea:valid,
form.validated textarea:valid {
    border-color: green;
}